* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #5ecf3c, #24acf2);
  width: 100%;
  height: 100vh;
}

#game {
  border-radius: 0.5rem;
  text-align: center;
  width: 40%;
  min-width: 20rem;
  padding: 3rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
  /* Glassmorphism Effect */
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

#primary-heading {
  margin-bottom: 1rem;
}

.secondary-heading {
  margin-bottom: 1rem;
}

.player {
  display: inline-block;
}

img {
  height: 50%;
  width: 50%;
  margin-bottom: 1rem;
}

#btn {
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 8rem;
  padding: 1rem 1rem;
}

#btn:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
